/* Reset and font settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


/* Body styling */
body {
    background-color: #ffe5e5;
}

/* GIF styling */
.gif-wrapper {
    max-width: 150px;
}

.gif-wrapper img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Button styling */
.btn-group a {
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 20x;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-group a:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}


#fondo-container {
    background-image: url('media/img1.jpg'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center center; /* Centra la imagen */
    color: black; /* Esto hace que el texto sea blanco para mejor legibilidad */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h1, p , h2{
    font-family: 'Times New Roman', serif; /* Cambiar fuente a Times New Roman */
    color: black; /* Cambiar color del texto a negro */
}