<!DOCTYPE html>
<html lang="en">

<head>
    <title>AMAZING</title>
    <link rel="stylesheet" href="/Css/font.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../amazing/BOSADECOMPRA.png" type="image/x-icon">
    <link rel="stylesheet" href="/Css/index.css" </head>

<body>

    <header>
        <div class="container">
            <p class="logo">E.S.D.V. Store: Tu Destino de Compras en Línea</p>
            <nav>
                <a href="#somos">Sobre Nostros</a>
                <a href="#nuestros-programas">Nuestros productos</a>
            </nav>
        </div>
    </header>

    <section id="hero">
        <h1>Vistete a la Moda con Nosotros y arma tu Outfit</h1>
    </section>

    <section id="somos">

        <div class="container">
            <div class="img-container">
                <img src="/imagenes/imagen1.jpeg" alt="">
                <img src="/imagenes/imagen2.jpeg" alt="">
                <img src="/imagenes/imagen3.jpeg" alt="">
                <img src="/imagenes/imagen4.jpeg" alt="">
                <img src="/imagenes/imagen5.jpeg" alt="">
            </div>
            <div class="texto">
                <h2>Somos E.S.D.V. Store</h2>
                <p>E.S.D.V Store te ofrece una amplia gama de productos de moda para que luzcas aún más increíble de lo que ya eres. Encuentra ropa de tendencia, accesorios elegantes y mucho más. ¡Descúbrelos y adquiérelos ahora!</p>
            </div>
        </div>
    </section>

    <section id="nuestros-programas">
        <div class="container">
            <h2>Nuestros Productos</h2>
            <div class="programas">
                <div class="carta">
                    <h3>|CASUAL|</h3>
                    <br>
                    <br>
                    <p>Encuentra ropa casual cómoda y estilosa para tu día a día. Tenemos una amplia selección de prendas que te harán lucir genial y sentirte cómodo. ¡Renueva tu guardarropa con nosotros!</p>
                </div>
                <div class="carta">
                    <h3>|DEPORTIVA|</h3>
                    <br>
                    <br>
                    <p>En el ámbito de la ropa deportiva, la comodidad es clave. Opta por leggings de alta calidad, una camiseta transpirable y zapatillas deportivas adecuadas para tu actividad preferida.</p>
                </div>
                <div class="carta">
                    <h3>|+VARIEDADES|</h3>
                    <br>
                    <br>
                    <p>Descubre un mundo de estilo en nuestra tienda de moda. Ofrecemos una amplia gama de prendas para todos los gustos y ocasiones. Encuentra tu próxima prenda favorita con nosotros.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="compra">
        <h2>IR A LA TIENDA</h2>
        <a href="/templates/ver.html"><img src="/imagenes/logo3.jpg" id="img"></a>
    </section>

</body>

</html>