{% extends 'layout.html' %}
{% block body %}

<div class="row">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <script type="text/javascript">
    // Obtener el primer mensaje flash
    var firstMessage = "{{ messages[0] }}";
    var secondMessage = "{{ messages[1] }}";
  
    // Mostrar el primer mensaje como título utilizando SweetAlert (Swal)
    Swal.fire({
      title: firstMessage,
      text:secondMessage,
      icon: 'success'
    });
  </script>
  {% endif %}
  {% endwith %}

<div class="col-md-6 offset-md-3">
  <div class="card card-body">
    <h1>Registro de Compras</h1>
    <form action="/add_contact" method="POST">
      <div class="form-group">
        <input type="text" name="fullname" class="form-control" placeholder="name" aria-label="Username"
          aria-describedby="addon-wrapping">
      </div>
      <div class="form-group">
        <input type="text" name="phone" class="form-control" placeholder="phone" aria-label="Username"
          aria-describedby="addon-wrapping">
      </div>

      <div class="form-group">
        <input type="text" name="email" class="form-control" placeholder="email" aria-label="Username"
          aria-describedby="addon-wrapping">
      </div>

      <div class="form-group">
        <select class="form-select" name="prenda" id="inputGroupSelect01">
          <option value="Chaqueta de Cuero">Chaqueta de Cuero</option>
          <option value="Buso de algodon">Buso de algodon</option>
          <option value="Body Rojo">Body rojo </option>
          <option value="Buso Jordan">Buso rojo Jordan </option>
          <option value="Camisa casual ">Camisa casual de campo </option>
          <option value="Camisa casual ">Camisa casual negra </option>
          <option value="chaqueta+falda">Conjunto chaqueta+falda </option>
          <option value="Conjunto Casual">Conjunto Casual Camisa + pantalon </option>
          <option value="Conjunto Black">Conjunto Black </option>
          <option value="Conjunto Otoño">Conjunto Otoño </option>
          <option value="Conjuto Primera">Conjuto Primera </option>
          <option value="Conjunto Univer.">Conjunto Universitario </option>
          <option value="Conjunto Gabardina">Conjunto Gabardina </option>
          <option value="Pantalon Deportivo">Pantalon Deportivo </option>
          <option value="Vestido Turqueza">Vestido Bershka Turqueza </option>
          <option value="Vestido H&M NEGRO">Vestido H&M NEGRO </option>
          <option value="Vestido Zara Rojo">Vestido Zara Rojo </option>
          <option value="Conjunto Jeans">Conjunto Jeans </option>
        </select>
      </div>

      <div class="form-group">
        <input type="number" name="cantidad" class="form-control" placeholder="amount" aria-label="Username"
          aria-describedby="addon-wrapping">
      </div>

      <button type="submit" id="saveButton" class="btn btn-success btn-block">Save</button>
    </form>

  </div>

</div>

</div>




{% endblock %}