{% extends 'layout.html' %}
{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<script type="text/javascript">
  // Obtener el primer mensaje flash
  var firstMessage = "{{ messages[0] }}";
  var secondMessage = "{{ messages[1] }}";

  // Mostrar el primer mensaje como título utilizando SweetAlert (Swal)
  
  
  Swal.fire({
    title: firstMessage,
    text: secondMessage,
    icon: 'success'
  });
</script>
{% endif %}
{% endwith %}
<div class="col-md-12">
    <div class="card card-body">
        <div class="row">
            <div class="col-md-12">
            <h1>Lista de compras</h1>
              <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                  <tr>
                    <th>Fullname</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Prenda</th>
                    <th>Amount</th>
                    <th>Precio/U</th>
                    <th>Operation</th>
                  </tr>
                </thead>
                <tbody>
                  {% if not contacts %}
                  <tr>
                    <td colspan="7">Aún no se han registrado compras.</td>
                  </tr>
                  {% else %}
                  {% for contact in contacts %}
                  <tr>
                    <td>{{ contact.1 }}</td>
                    <td>{{ contact.2 }}</td>
                    <td>{{ contact.3 }}</td>
                    <td>{{ contact.4 }}</td>
                    <td>{{ contact.5 }}</td>
                    <td>{{ contact.6 }}</td>
                    <td>
                      <a href="/edit/{{ contact.0 }}" class="btn btn-success">Edit</a>
                      <a href="/delete/{{ contact.0 }}" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          
    </div>
</div>


{% endblock %}

