<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>AMAZING.SHOP</title>
	<link rel="icon" href="/amazing/carritodecom.webp">
	<link rel="stylesheet" href="/Css/ver.css" />
</head>

<body>
	<header>
		<h1>SHOP NOW!</h1>

		<div class="container-icon">
			<a href="http://127.0.0.1:5000">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
					stroke="currentColor" class="icon-cart">
					<path stroke-linecap="round" stroke-linejoin="round"
						d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
				</svg>
			</a>
			<p>Compra aquí</p>




		</div>
		</div>

	</header>
	<div class="container-items">

		<div class="item">
			<figure>
				<img src="/imagenes/chaqueta.jpg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Chaqueta de cuero</h2>
				<p class="price">$40</p>
			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/imagen6.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Buso de algodon</h2>
				<p class="price">$15</p>
			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/body_rojo.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Body Rojo</h2>
				<p class="price">$20</p>

			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/busoJordan.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Buso Rojo Jordan</h2>
				<p class="price">$50</p>

			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/camisa_casual_de_campo.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Camisa Casual de Campo</h2>
				<p class="price">$20</p>

			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/camisa_casual_negra.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Camisa Casual Negra</h2>
				<p class="price">$20</p>

			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/chaqueta+falda.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>conjunto Chaqueta + Falda</h2>
				<p class="price">$60</p>

			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/Conjunto de camisa+pantalon_casual.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Conjunto Casual Camisa + pantalon</h2>
				<p class="price">$40</p>

			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/conjunto_black.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Conjunto Black</h2>
				<p class="price">$70</p>

			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/Conjunto_de_otoño.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Conjunto Otoño</h2>
				<p class="price">$80</p>
			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/conjunto_primavera.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Conjuto Primera</h2>
				<p class="price">$85</p>

			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/conjunto_universitario.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Conjunto Universitario</h2>
				<p class="price">$75</p>

			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/gabardina.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Conjunto Gabardina</h2>
				<p class="price">$70</p>

			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/Pantalon_Deportivo.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Pantalon Deportivo</h2>
				<p class="price">$20</p>

			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/vestido_bershka_turqueza.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Vestido Bershka Turqueza</h2>
				<p class="price">$40</p>
			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/vestidoH&Mnegro.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Vestido H&M NEGRO</h2>
				<p class="price">$40</p>

			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/VestidoZaraRojo.jpeg" alt="producto" />
			</figure>
			<div class="info-product">
				<h2>Vestido Zara Rojo</h2>
				<p class="price">$50</p>

			</div>
		</div>
		<div class="item">
			<figure>
				<img src="/imagenes/conjuntojean.jpeg" alt="producto" />
				<div class="info-product">
					<h2>Conjunto Jeans</h2>
					<p class="price">$45</p>

				</div>
			</figure>

			<script src="index.js"></script>
</body>

</html>